<h1>Movies</h1>
<%= form_tag movies_path, method: :get do %> 
  <%= hidden_field_tag :direction, params[:direction] %>  
  <%= hidden_field_tag :sort, params[:sort] %>
  <h3>Include:</h3>
  <% @all_ratings.each do |rating| %>
    <%= rating %>
    <% if (params[:ratings] and (params[:ratings][rating]))%>
      <%= check_box_tag "ratings[#{rating}]", params[:ratings][rating], true %>
    <% elsif (session[:ratings] and session[:ratings][rating]) -%>
      <%= check_box_tag "ratings[#{rating}]", session[:ratings][rating], true %>
    <% else -%>
      <%= check_box_tag "ratings[#{rating}]", "0", false %>
    <% end -%>
    <%= submit_tag "Refresh", id: "ratings_submit"%>
  <% end -%>
  <table class="table table-striped" id='movies'>
    <thead>
      <tr>
        <th class="<%= currently_sorted? "title"%>"><%= sortable "title", "title" %></th>
        <th class="<%= currently_sorted? "rating"%>"><%= sortable "rating", "rating" %></th>
        <th class="<%= currently_sorted? "release_date"%>"><%= sortable "release_date", "release_date" %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= link_to movie.title, movie_path(movie) %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.release_date%></td>
          <td>
            <%= link_to 'Edit', edit_movie_path(movie), :class => 'btn btn-mini' %>
            <%= link_to 'Destroy', movie_path(movie), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>    

<% end %>


<%= link_to 'New', new_movie_path, :class => 'btn btn-primary' %>
